.DS_Store
Thumbs.db
node_modules/
vendor/
*.zip
*.tar.gz
deploy.sh
.idea
wp-content
*cache
build/*
vendor_prefixed
!vendor_prefixed/.gitkeep
!build/strauss.phar
!build/vendor_prefixed/.gitkeep
phpstan.neon
