#$ composer update --optimize-autoloader
#$ vendor/bin/phpstan analyze

includes:
  # @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
  - phar://phpstan.phar/conf/bleedingEdge.neon
  # Include this extension
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 5
  bootstrapFiles:
    - gfexcel.php
    - tests/phpstan/bootstrap.php
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

  inferPrivatePropertyTypeFromConstructor: true
  #    autoload_files:
  #        # Missing constants, function and class stubs
  #        - %currentWorkingDirectory%/tests/phpstan/bootstrap.php
  #        # Plugin stubs
  #        - %currentWorkingDirectory%/tests/phpstan/PLUGIN-stubs.php
  #        # Procedural code
  #        - %currentWorkingDirectory%/myplugin-functions.php
  #    autoload_directories:
  #        - %currentWorkingDirectory%/inc/
  paths:
    - src
    - tests

  scanDirectories:
    - vendor/gravityforms/gravityforms # Gravity Forms has no `autoload` section, so we need to configure the path.
    - vendor/gravityforms/gravitysurvey # Gravity Forms' Survey Add-on has no `autoload` section, so we need to configure the path.

  scanFiles:
    - phpstan-stubs/gravityforms.php.stub # Needed until https://github.com/phpstan/phpstan/issues/11559 is resolved.

  #    excludes_analyse:
  #        - %currentWorkingDirectory%/inc/views/
  ignoreErrors:
  # Unit tests edge cases
    - '/MockObject|stdClass>? given.$/'
