.gaddon-setting-inline {
    display: inline-block;
    line-height: 26px;
}

span.gf_settings_description {
    font-size: smaller;
}

ul.fields-select {
    background-color: #FFF;
    padding: 3px 5px;
    border: 1px solid #E1E1E1;
    min-height: 30px;
    border-radius: 4px;
}

ul.fields-select li div:not(.move) {
    flex: 1;
}

ul.fields-select li div.move {
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
}

ul.fields-select li div.move:hover {
    color: #006799;
}

.ui-sortable-handle {
    cursor: pointer;
    cursor: -webkit-grab;
}
.ui-sortable-handle:hover {
    background-color: #F0F0F0;
}

.ui-sortable-handle:active,
.ui-sortable-helper {
    cursor: -webkit-grabbing;

}

ul.fields-select li {
    display: flex;
    background-color: #f7f7f7;
    margin: 2px 0;
    padding: 3px;
    -webkit-transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out, color 100ms ease-in-out;;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;;
}

ul.fields-select li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
ul.fields-select li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gaddon-section.sortfields table {
    table-layout: fixed;
}

.gaddon-section.sortfields table td {
    padding-right: 10px;
}

.gaddon-section.sortfields table td + td {
    padding-left: 10px;
    padding-right: 10px;
}

.gaddon-section.sortfields p {
    margin-bottom: 10px;
}

.sortfields .fa-bars {
    color: #DDD;
    margin-right: 5px;
}

.sortfields .field {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.sortfields li.light-up {
    background-color: #006799;
    color: #FFF;
}

.sortfields li.light-up i {
    color: #fff;
}

#gfexcel_disabled_fields .move i.fa-close {
    display: none;
}

#gfexcel_enabled_fields .move i.fa-arrow-right {
    display: none;
}

#gfexcel_enabled_fields {
    border: 1px solid #1e8cbe;
}

.button.button-cta {
    background: #5cb85c;
    border-color: #4cae4c;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #4cae4c;
    color: #fff;
    text-shadow: 0 -1px 1px #4cae4c, 1px 0 1px #4cae4c, 0 1px 1px #4cae4c, -1px 0 1px #4cae4c;
}

.button.button-cta:hover,
.button.button-cta:focus,
.button.button-cta:active {
    background: #4cae4c;
    border-color: #4cae4c;
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #4cae4c;
}

.button.button-danger {
    background: #cc0000;
    border-color: #A00000;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A00000;
    color: #fff;
    text-shadow: 0 -1px 1px #A00000, 1px 0 1px #A00000, 0 1px 1px #A00000, -1px 0 1px #A00000;
}

.button.button-danger:hover,
.button.button-danger:focus,
.button.button-danger:active {
    background: #A00000;
    border-color: #A00000;
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A00000;
}

.download-block {
    overflow: hidden;
    padding:3px 0;
}

.download-block .date-field {
    float: left;
    width: 100px;
    clear: right;
}

.download-block button {
    outline: none !important;
}
