/** Override Gravity Forms to make settings menu full-width at width when WP collapses sidebar */
@media only screen and (max-width: 782px) {
    body .gform-settings__wrapper {
        grid-template-columns: none;
    }
    body .gform-settings__navigation {
        margin-bottom: 1em;
    }
}

#tab_gf-entries-in-excel {
    font-size: 14px;
}
body .gform-settings-description {
    font-size: 14px;
}

body .gaddon-section {
    padding-top: .3125rem;
}

body .gform-settings-field__header {
    margin-top: 1.25rem;
}
.gform-settings-field__header .gform-settings-label {
    font-size: 15px;
}

#gform-settings {
    margin-top: 1em;
}

.gaddon-section-title {
    font-size: 1.1em;
}

.gaddon-setting-inline {
    display: inline-block;
    line-height: 26px;
}

input.widefat[readonly] {
    margin-bottom: .5em;
    font-size: 15px;
}

ul.fields-select {
    background-color: #FFF;
    padding: 3px 5px 1px;
    border: 1px solid #E1E1E1;
    min-height: 30px;
    border-radius: 4px;
}

ul.fields-select li div:not(.move) {
    flex: 1;
}

ul.fields-select li div.move {
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
}

ul.fields-select li div.move:hover {
    color: #006799;
}

.sortfields .ui-sortable-handle {
    cursor: pointer;
    cursor: -webkit-grab;
    padding: 7px;
    margin: 5px 0;
    border-radius: 3px;
}
.ui-sortable-handle:hover {
    background-color: #F0F0F0;
}

.ui-sortable-handle:active,
.ui-sortable-helper {
    cursor: -webkit-grabbing;

}

ul.fields-select li {
    display: flex;
    background-color: #f7f7f7;
    margin: 2px 0;
    padding: 3px;
    -webkit-transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out, color 100ms ease-in-out;;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;;
}

ul.fields-select li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
ul.fields-select li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gaddon-section.sortfields table {
    table-layout: fixed;
}

.gaddon-section.sortfields table td {
    padding-right: 10px;
}

.gaddon-section.sortfields table td + td {
    padding-left: 10px;
    padding-right: 10px;
}

.gaddon-section.sortfields p {
    margin-bottom: 10px;
}

.sortfields .fa-bars {
    color: #ccd0d4;
    margin-right: 5px;
    margin-left: 0;
}
.rtl .sortfields .fa-bars {
    margin-left: 5px;
    margin-right: 0;
}

.sortfields .field {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.sortfields li.light-up {
    background-color: #006899;
    color: #FFF;
}

.sortfields li.light-up i {
    color: #fff;
}

#gfexcel_disabled_fields .move i.fa-close {
    display: none;
}

.sortfields [class*=fa-] {
    padding: 4px 5px;
    border-radius: 3px;
}

.sortfields div.move:hover [class*=fa-] {
    background-color: #006899;
    color: white;
}

/** Don't show sort handle in disabled fields. Not using display: none; to maintain spacing. */
#gfexcel_disabled_fields .fa-bars {
    visibility: hidden;
    width: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

#gfexcel_enabled_fields .move i.fa-arrow-right {
    display: none;
}

#gfexcel_enabled_fields {
    border: 1px solid #1e8cbe;
}

.gravityexport-lite-callout {
    background: white;
    padding: 20px;
    margin: 1rem 0;
    border-radius: 3px;
    border: 1px solid #e3e6ef;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(18, 25, 97, 0.0779552);
}

/** 2.5 */
.gform-settings__wrapper .gravityexport-lite-callout {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 10px;
    background: transparent;
}

#gravityexport-additional-features {
    padding: 0 20px;
}

#gravityexport-lite-rating-fieldset {
    padding-top: 0;
    border-radius: 3px;
}
#gravityexport-lite-rating-fieldset legend {
    display: none;
}

#gravityexport-additional-features h2,
#gravityexport-lite-rating h2 {
    margin-top: 1rem;
    padding-top: 0;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

#gravityexport-additional-features h3,
#gravityexport-lite-rating h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
}

#gravityexport-lite-rating h3 {
    margin-top: 0;
}

#gravityexport-additional-features p,
#gravityexport-lite-rating p {
    font-size: 1rem;
}

#gravityexport-lite-rating p:last-of-type,
#gravityexport-lite-rating-fieldset .gform-settings-description {
    margin: 0;
}

.button.button-cta,
.gform-settings__wrapper .button.button-cta {
    background: #5cb85c;
    border-color: #4cae4c;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #4cae4c;
    color: #fff;
    text-shadow: 0 -1px 1px #4cae4c, 1px 0 1px #4cae4c, 0 1px 1px #4cae4c, -1px 0 1px #4cae4c;
    font-weight: bold;
}

body .button.button-cta:hover,
body .button.button-cta:focus,
body .button.button-cta:active {
    background: #4cae4c;
    border-color: #4cae4c;
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #4cae4c;
}

body .button.button-danger {
    background: #e35b5b;
    border-color: #b02828;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #b02828;
    color: #fff;
    transition: all .1s;
}
body .button.button-danger.button-small {
    font-size: 13px;
}

body .button.button-danger:hover,
body .button.button-danger:focus,
body .button.button-danger:active {
    transition: all .1s;
    background: #b02828;
    border-color: #b02828;
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #b02828;
}

.download-block {
    overflow: hidden;
    padding:3px 0;
}

.download-block .date-field {
    float: left;
    width: 200px;
    clear: right;
}

.download-block button {
    outline: none !important;
}

.gaddon-section__download_file {
    background: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 40px;
}
.gaddon-section__download_file h4 {
    margin-top: 0;
}

.gaddon-section__download_count {
    font-size: 16px;
}
.gaddon-section__download_count a {
    padding: 0 10px;
}